

<table class="table" style=" table-layout: fixed;word-wrap: break-word; font-family: Montserrat; font-size: 14px">
  <thead style="background-color: #ECEFF4">
  <tr>
    <th scope="col" style="text-align: center; width: 10%"> <b>Item ID</b> </th>
    <th scope="col" style="text-align: center; width: 20%"> <b>Name</b> </th>
    <th scope="col" style="text-align: center; width: 15%"> <b>Category</b> </th>
    <th scope="col" style="text-align: center; width: 15%"> <b>Pack Size</b> </th>
    <th scope="col" style="text-align: center; width: 15%"> <b>Stock Balance</b> </th>
    <th scope="col" style="text-align: center; width: 19%"></th>
  </tr>
  </thead>
  <tbody   *ngFor="let item of inventoryItems">
  <tr>
    <td style=" text-align: center; "> {{item.id}} </td>
    <td style="text-align: center"> {{item.name}} </td>
    <td style="text-align: center"> {{item.category}} </td>
    <td style="text-align: center"> {{item.packSize}} </td>
    <td style="text-align: center"> {{item.stockBalance}} </td>
    <td class="col-sm-2" style="text-align: center">
      <img src="../../../../assets/image_resources/ic_inventory_item.png" style="width: 40px; height: 40px">
    </td>
  </tr>
  </tbody>
</table>
