<div class="div embed-responsive" style="background-color: #F9F9F9;font-family: Montserrat;">
  <div class="row">
    <div class="col-md-5">
      <div class="oneLine" style="font-size: 20px; font-family: Montserrat">
        Measurements of all the employees


      </div>
    </div>
<!--    <div class="col-md-1"></div>-->
    <div class="col-md-3" style="max-width: 100%">
      <div>
        <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="From" (dateChange)="addEventFrom($event)">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <!--    <div class="col-md-1"></div>-->
    <div class="col-md-3" style="max-width: 100%">
      <div>
        <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="To" (dateChange)="addEventToo($event)">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

  </div>
</div>

<div class="card" style="color: #666666;font-family: Montserrat">

  <div class="row" style=" display: flex">
    <div class="col-12">

      <div>

        <mat-tab-group style="background-color:#ECEFF4" (selectedTabChange)="onTabChange($event)">

          <mat-tab label="Blood Pressure">
            <ng-template matTabContent>
              <div style="display: block; background-color: white">
                <ul class="chart"
                    style="padding-inline-start: 20px;padding-inline-end: 20px;padding-block-end: 51px;background-color: white">

                  <li *ngFor="let stats of convertedData">

                    <span [ngStyle]="{height:getHeight(stats.severe_high) }"
                          style="color:black;background-color: #A44545">{{stats.severe_high}}</span>

                    <span [ngStyle]="{height:getHeight(stats.moderate_high) }"
                          style="color:black;background-color: #E64B61">{{stats.moderate_high}}</span>

                    <span [ngStyle]="{height:getHeight(stats.mid_high) }"
                          style="color:black;background-color: #E8779D">{{stats.mid_high}}</span>

                    <span [ngStyle]="{height:getHeight(stats.high) }"
                          style="color:black;background-color: #FB6843">{{stats.high}}</span>

                    <span [ngStyle]="{height:getHeight(stats.prehyper_tension) }"
                          style="color:black;background-color: #FCA34B">{{stats.prehyper_tension}}</span>

                    <span [ngStyle]="{height:getHeight(stats.normal) }"
                          style="color:black;background-color: #12DE77">{{stats.normal}}</span>

                    <span [ngStyle]="{height:getHeight(stats.low) }" style="color:black;background-color: #FBD332"
                          title="{{stats.month}}">{{stats.low}}</span>
                  </li>


                </ul>
              </div>
            </ng-template>
<!--            <legend style="color: red">low</legend>-->
          </mat-tab>

          <!------End of blood pressure-->

          <mat-tab label="Pulse">
            <ng-template matTabContent>
              <div style="display: block; background-color: white">
                <ul class="chart"
                    style="padding-inline-start: 20px;padding-inline-end: 20px;padding-block-end: 51px;background-color: white">

                  <li *ngFor="let stats of convertedData">

                    <span [ngStyle]="{height:getHeight(stats.severe_high) }"
                          style="color:black;background-color: #A44545">{{stats.severe_high}}</span>

                    <span [ngStyle]="{height:getHeight(stats.moderate_high) }"
                          style="color:black;background-color: #E64B61">{{stats.moderate_high}}</span>

                    <span [ngStyle]="{height:getHeight(stats.mid_high) }"
                          style="color:black;background-color: #E8779D">{{stats.mid_high}}</span>

                    <span [ngStyle]="{height:getHeight(stats.high) }"
                          style="color:black;background-color: #FB6843">{{stats.high}}</span>

                    <span [ngStyle]="{height:getHeight(stats.prehyper_tension) }"
                          style="color:black;background-color: #FCA34B">{{stats.prehyper_tension}}</span>

                    <span [ngStyle]="{height:getHeight(stats.normal) }"
                          style="color:black;background-color: #12DE77">{{stats.normal}}</span>

                    <span [ngStyle]="{height:getHeight(stats.low) }" style="color:black;background-color: #FBD332"
                          title="{{stats.month}} ">{{stats.low}}</span>
                  </li>

                </ul>
              </div>
            </ng-template>
          </mat-tab>
          <!------End of Pulse-->


          <mat-tab label="Glucose">
            <ng-template matTabContent>
              <div style="display: block; background-color: white">
                <ul class="chart"
                    style="padding-inline-start: 20px;padding-inline-end: 20px;padding-block-end: 51px;background-color: white">

                  <li *ngFor="let stats of convertedData">

                    <span [ngStyle]="{height:getHeight(stats.severe_high) }"
                          style="color:black;background-color: #A44545">{{stats.severe_high}}</span>

                    <span [ngStyle]="{height:getHeight(stats.moderate_high) }"
                          style="color:black;background-color: #E64B61">{{stats.moderate_high}}</span>

                    <span [ngStyle]="{height:getHeight(stats.mid_high) }"
                          style="color:black;background-color: #E8779D">{{stats.mid_high}}</span>

                    <span [ngStyle]="{height:getHeight(stats.high) }"
                          style="color:black;background-color: #FB6843">{{stats.high}}</span>

                    <span [ngStyle]="{height:getHeight(stats.prehyper_tension) }"
                          style="color:black;background-color: #FCA34B">{{stats.prehyper_tension}}</span>

                    <span [ngStyle]="{height:getHeight(stats.normal) }"
                          style="color:black;background-color: #12DE77">{{stats.normal}}</span>

                    <span [ngStyle]="{height:getHeight(stats.low) }" style="color:black;background-color: #FBD332"
                          title="{{stats.month}}">{{stats.low}}</span>
                  </li>

                </ul>
              </div>
            </ng-template>
          </mat-tab>
          <!------End of Glucose-->


          <mat-tab label="B.M.I">
            <ng-template matTabContent>
              <div style="display: block; background-color: white">
                <ul class="chart"
                    style="padding-inline-start: 20px;padding-inline-end: 20px;padding-block-end: 51px;background-color: white">

                  <li *ngFor="let stats of convertedData">

                    <span [ngStyle]="{height:getHeight(stats.severe_high) }"
                          style="color:black;background-color: #A44545">{{stats.severe_high}}</span>

                    <span [ngStyle]="{height:getHeight(stats.moderate_high) }"
                          style="color:black;background-color: #E64B61">{{stats.moderate_high}}</span>

                    <span [ngStyle]="{height:getHeight(stats.mid_high) }"
                          style="color:black;background-color: #E8779D">{{stats.mid_high}}</span>

                    <span [ngStyle]="{height:getHeight(stats.high) }"
                          style="color:black;background-color: #FB6843">{{stats.high}}</span>

                    <span [ngStyle]="{height:getHeight(stats.prehyper_tension) }"
                          style="color:black;background-color: #FCA34B">{{stats.prehyper_tension}}</span>

                    <span [ngStyle]="{height:getHeight(stats.normal) }"
                          style="color:black;background-color: #12DE77">{{stats.normal}}</span>

                    <span [ngStyle]="{height:getHeight(stats.low) }" style="color:black;background-color: #FBD332"
                          title="{{stats.month}}">{{stats.low}}</span>
                  </li>

                </ul>
              </div>
            </ng-template>
          </mat-tab>
          <!-----End of glucose------->


          <mat-tab label="Temp">
            <ng-template matTabContent>
              <div style="display: block; background-color: white">
                <ul class="chart"
                    style="padding-inline-start: 20px;padding-inline-end: 20px;padding-block-end: 51px;background-color: white">

                  <li *ngFor="let stats of convertedData">

                    <span [ngStyle]="{height:getHeight(stats.severe_high) }"
                          style="color:black;background-color: #A44545">{{stats.severe_high}}</span>

                    <span [ngStyle]="{height:getHeight(stats.moderate_high) }"
                          style="color:black;background-color: #E64B61">{{stats.moderate_high}}</span>

                    <span [ngStyle]="{height:getHeight(stats.mid_high) }"
                          style="color:black;background-color: #E8779D">{{stats.mid_high}}</span>

                    <span [ngStyle]="{height:getHeight(stats.high) }"
                          style="color:black;background-color: #FB6843">{{stats.high}}</span>

                    <span [ngStyle]="{height:getHeight(stats.prehyper_tension) }"
                          style="color:black;background-color: #FCA34B">{{stats.prehyper_tension}}</span>

                    <span [ngStyle]="{height:getHeight(stats.normal) }"
                          style="color:black;background-color: #12DE77">{{stats.normal}}</span>

                    <span [ngStyle]="{height:getHeight(stats.low) }" style="color:black;background-color: #FBD332"
                          title="{{stats.month}}">{{stats.low}}</span>
                  </li>

                </ul>
              </div>
            </ng-template>
          </mat-tab>
          <!-----End of Temperature------->


        </mat-tab-group>

      </div>
    </div>
  </div>

</div>


<!--<span *ngIf="isValid(blood.bloodGroup)" [ngStyle]="{ height:getHeight(blood.count)-10 }" style="color: black;background-color: blue"  title="{{blood.bloodGroup}}">{{blood.count}}</span>-->
<!--<span *ngIf="isValid(blood.bloodGroup)" [ngStyle]="{ height:getHeight(blood.count)-10 }" style="color: black;background-color: green"  title="{{blood.bloodGroup}}">{{blood.count}}</span>-->
<!--<span *ngIf="isValid(blood.bloodGroup)" [ngStyle]="{ height:getHeight(blood.count)-10 }" style="color: black;background-color: brown "  title="{{blood.bloodGroup}}">{{blood.count}}</span>-->
<!--<span *ngIf="isValid(blood.bloodGroup)" [ngStyle]="{ height:getHeight(blood.count)-10 }" style="color: black;background-color: blue"  title="{{blood.bloodGroup}}">{{blood.count}}</span>-->
<!--<span *ngIf="isValid(blood.bloodGroup)" [ngStyle]="{height:getHeight(blood.count) }" style="color: black;background-color: #f4ff42" title="{{blood.bloodGroup}}">{{blood.count}}</span>-->
