.oneLine{
  //padding-right: 190px;
  padding-left: 10px;
  padding-top: 20px;
}
.one{
  margin-bottom: 0;
  //margin-top:12px;
  background-color: #F9F9F9;
  font-weight: 500;
  line-height: 0px;
  padding-top: 22px;
  padding-left: 30px;
  height: 63px;
  font-size: 1.1rem;
}
::ng-deep #chart {
  height: 440px;
}
::ng-deep #chart1 {
  height: 440px;
}
::ng-deep #chart2 {
   height: 440px;
}
::ng-deep #chart3 {
    height: 440px;
}
::ng-deep #chart4 {
     height: 440px;
}
