.oneLine{
  //padding-right: 190px;
  padding-left: 10px;
  padding-top: 20px;
}
.one{
  margin-bottom: 0;
  //margin-top:12px;
  background-color: #F9F9F9;
  font-weight: 500;
  line-height: 0px;
  padding-top: 22px;
  padding-left: 30px;
  height: 63px;
  font-size: 1.1rem;
}
//::ng-deep #chart {
//  height: 440px;
//}
::ng-deep #chart1 {
  height: 440px;
}
::ng-deep #chart2 {
   height: 440px;
}
::ng-deep #chart3 {
    height: 440px;
}
::ng-deep #chart4 {
     height: 440px;
}

.chart {
  display: table;
  table-layout: auto;

  width: 100%;
  //max-width:700px;
  height: 400px;
  margin: 0 auto;

  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.1) 2%, transparent 2%);
  background-size: 100% 50px;
  background-position: left top;

  li {
    //background-color: #ECEFF4;
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    height: 200px;
    text-align: center;
  }

  span {
    margin: 0 2em;
    min-width: 25px;
    display: block;
    text-align: center;
    //background: rgba(#d1ecfa, .75);
    animation: draw 1s ease-in-out;

    &:before {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      padding: 5px 1em 0;
      display: block;
      text-align: center;
      content: attr(title);
      word-wrap: break-word;
    }

  }


}


@keyframes draw{
  0%{height:10px;}
}
