<div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first">
      <img src="../../assets/image_resources/ic_company_logo.png" id="icon" alt="User Icon" />
    </div>

      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">

        <div class="form-group  fadeIn second">
          <label class="label label-primary" for="username">CMED ID</label>
          <input formControlName="username" type="text" name="username" placeholder="CMED ID" class="form-control"
                 id="username"/>
        </div>

        <div class="form-group  fadeIn third">
          <label for="password">Password</label>
          <input formControlName="password" type="password" name="password" placeholder="Password" class="form-control"
                 id="password"/>
        </div>

        <button class="btn btn-success btn-block fadeIn fourth" type="submit">Login</button>

      </form>

    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
