
<div>
  <div class="card"
       style="
              margin-right: 50px;
              margin-left: 50px;
              margin-top: 20px;border-radius: 0px;
              /*box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);*/
">


    <div class="card-body">
      <div class="container-fluid">
        <div class="row" >
          <div class="col">
            <img src="../../../../assets/image_resources/ic_inventory_search.svg" style="" alt="Responsive image">
          </div>
          <div class="col-5" style="margin-right: 30px">
            <div class="form-group" style="width: inherit; border: 1px none goldenrod; margin-top: 10px">
              <div _ngcontent-trv-c4="" style="min-width: inherit; border: 1px none darkblue;">
                <input _ngcontent-trv-c4="" style="width: 90%; font-size: 17px" class="searchBar" placeholder="Search" spellcheck="false" type="text">
                <button _ngcontent-trv-c4="" class="searchButton">
                <img _ngcontent-trv-c4="" src="../../../../assets/image_resources/ic_search.png"></button>

              </div>
              <small  class="form-text text-muted">Last Name</small>

            </div>
          </div>
          <div class="col">
            <div class="row">
              <div class="form-group" style="width: 100%">
                <small  class="form-text text-muted">Select Filter</small>
                <select class="form-control" id="exampleFormControlSelect1" style="">
                  <option>Gender</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group" style="width: 100%">
                <small  class="form-text text-muted">Filter Options</small>
                <select class="form-control" style="">
                  <option>All</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col align-self-center" style="margin-left: 30px">
            <div class="row" style="margin-left: 30px; margin-top: 10px"> <button class="blueButton"> <img src="../../../../assets/image_resources/ic_inventory_item.png"> </button></div>
            <!--                        <div class="row" style="margin-left: 30px; margin-top: 30px"> <button class="whiteButton"><b>Register Employee</b></button></div>-->
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
