

/*button styles*/
.blueButton{
  background-color: #16B4FC;
  color: white;
  font-family: Montserrat;
  font-size: 10pt;
  width: 264px;
  height: 50px;
  border-radius: 50px;
  outline-color: white;
  border: none
}



.whiteButton{
  background-color: white;
  color: #16B4FC;
  border-color : #16B4FC;
  border: 2px solid #16B4FC;
  font-family: Montserrat;
  font-size: 10pt;
  width: 264px;
  height: 50px;
  border-radius: 50px;
  outline-color: white;
  transition: 0.1s;
}

.whiteButton:hover{
  background-color:  #16B4FC;
  color: white;
}



/*
**************************************************************************
**************************************************************************
**************************************************************************
**************************************************************************
**************************************************************************
**************************************************************************
**************************************************************************
*/

/*@media(max-width:767px) {*/

/*    .myimage {*/
/*        max-width: 50%;*/
/*        max-height: auto;*/
/*        width: 50%;*/
/*        height: auto;*/
/*        min-width: 100px;!*Note the px*!*/
/*        min-height: auto;*/
/*    }*/

/*}*/





.searchBar{
  font-family: Montserrat;
  font-size: 10pt;
  outline-color: white;
}

::placeholder{
  font-family: Montserrat;
  font-size: 7pt;
  color: #ECEFF4;
  line-height: normal;
}








