<!--<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">-->
<!--  <div class="container-fluid">-->
<!--    <a [routerLink]="['/']" class="navbar-brand mr-3">CMED Agent</a>-->
<!--    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarCollapse">-->
<!--      <div class="navbar-nav">-->
<!--        <a [routerLink]="['/']" class="nav-item nav-link active">Home</a>-->
<!--        <a [routerLink]="['agents']" class="nav-item nav-link">Agents</a>-->
<!--        <a [routerLink]="['agent-types']" class="nav-item nav-link">Agent Types</a>-->
<!--        <a [routerLink]="['services']" class="nav-item nav-link">Services</a>-->
<!--      </div>-->
<!--      <div class="navbar-nav ml-auto">-->
<!--        &lt;!&ndash;        <a *ngIf="!isLoggedIn()" class="nav-item nav-link">Register</a>&ndash;&gt;-->
<!--        <a *ngIf="!isLoggedIn()" [routerLink]="['login']" class="nav-item nav-link">Login</a>-->
<!--        <a *ngIf="isLoggedIn()" [routerLink]="['logout']" class="nav-item nav-link">Logout</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFFFFF; font-family: Montserrat; border-bottom: 0.5px solid #A9AFB8" >
  <button routerLink="/home" style="margin: 10px; outline: none; border: none; background-color: white">
    <img src="../assets/image_resources/ic_company_logo.svg">
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item" style="margin-right: 15px; margin-left: 15px; ">
        <img style="display: inline-block" src="../assets/image_resources/home.svg">
        <a class="nav-link" routerLink="dashboard/home" style="display: inline-block">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" style="margin-right: 15px; margin-left: 15px; ">
        <img style="display: inline-block" src="../assets/image_resources/employee.svg">
        <a class="nav-link" routerLink="dashboard/employee" style="display: inline-block">Employees</a>
      </li>
      <li class="nav-item" style="margin-right: 15px; margin-left: 15px; ">
        <img style="display: inline-block" src="../assets/image_resources/inventory.svg">
        <a class="nav-link" routerLink="dashboard/inventory" style="display: inline-block">Inventory</a>
      </li>
      <li class="nav-item" style="margin-right: 15px; margin-left: 15px; ">
        <img style="display: inline-block" src="../assets/image_resources/feedback.svg">
        <a class="nav-link" routerLink="/feedback" style="display: inline-block">Feedback</a>
      </li>
      <li class="nav-item" style="margin-right: 15px; margin-left: 15px; ">
        <img style="display: inline-block" src="../assets/image_resources/reports.svg">
        <a class="nav-link" routerLink="dashboard/reports" style="display: inline-block">Reports</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

<!--      <li class="nav-item" style="margin-right: 15px; margin-left: 15px; ">-->
<!--        <a class="nav-link" routerLink="/login" style="display: inline-block">Log In</a>-->
<!--      </li>-->
    </ul>
  </div>

<!--  <div class="navbar-nav ml-auto">-->
<!--    &lt;!&ndash;        <a *ngIf="!isLoggedIn()" class="nav-item nav-link">Register</a>&ndash;&gt;-->
<!--    <a *ngIf="!isLoggedIn()" [routerLink]="['login']" class="nav-item nav-link">Login</a>-->
<!--    <a *ngIf="isLoggedIn()" [routerLink]="['logout']" class="nav-item nav-link">Logout</a>-->
<!--  </div>-->

</nav>
