<div class="row">

  <div class="card col-sm-12">
    <div class="card-header card-title">
      Service
      <a class="btn btn-primary pull-right" [routerLink]="['create']">Create</a>
    </div>
    <div class="card-body">
      <table class="table table-hover table-striped table-hover table-active table-condensed">
        <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>COST</th>
        <th>SERVICE TYPE ID</th>
        <th>CREATED AT</th>
        <th>UPDATED AT</th>
        <th>EDIT</th>
        </thead>
        <tbody>
        <tr *ngFor="let service of services">
          <td>{{ service.id }}</td>
          <td>{{ service.name }}</td>
          <td>{{ service.description }}</td>
          <td>{{ service.cost }}</td>
          <td>{{ service.service_type_id }}</td>
          <td>{{ service.created_at | date: 'short' }}</td>
          <td>{{ service.updated_at | date: 'short' }}</td>
          <td><a [routerLink]="['/services/edit',service.id]" class="btn btn-warning" href="#">Edit</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
