
<div style="height: 50%">
  <div style="background-color: #F9F9F9">

    <h4 class="one" >
      Blood Group
    </h4>
  </div>


  <div>
    <div  style=" background: white">


      <ul class="chart" style="padding-inline-start: 20px;
               padding-inline-end: 20px;
                padding-block-end: 51px;
               background-color: white" >



        <li *ngFor="let blood of bloodStats">
          <small *ngIf="isValid(blood.bloodGroup)" style="">{{blood.count}}</small>
          <span *ngIf="isValid(blood.bloodGroup)" [ngStyle]="{backgroundColor:getColor(blood.bloodGroup),color:getColor(blood.bloodGroup), height:getHeight(blood.count) }"   title="{{blood.bloodGroup}}"></span>
        </li>

      </ul>

    </div>
  </div>
</div>






