

.tableHeader{
  background: #eceff4;
  padding: 20px;
  font-weight: bold;
}

.tableRow{
  background: white;
  padding: 20px;
  border-bottom: 1px #eceff4 solid;
  table-layout: fixed;
}

.tableColumn{
  font-family: Montserrat;
  text-align: center;
  word-wrap: break-word;
  min-width: 100px;
  max-width: 160px;
}





.viewButton{
  background-color: white;
  color: #16B4FC;
  border-color : #16B4FC;
  border: 2px solid white;
  font-family: Montserrat;
  border-radius: 7px  ;
  font-size: 16px;
  width: 80px;
  height: 30px;
  outline-color: white;
  transition: 0.1s;
}
.viewButton:hover{
  background-color:  #16B4FC;
  color: white;
}

.prescriptionButton{
  background-color: white;
  color: #12de77;
  border-color :#12de77;
  border: 2px solid white;
  font-family: Montserrat;
  font-size: 16px;
  border-radius: 7px  ;
  width: 115px;
  height: 30px;
  outline-color: white;
  transition: 0.1s;
}
.prescriptionButton:hover{
  background-color:  #12de77;
  color: white;
}
