<div style="zoom: normal">
  <!--- Top bar starts here--->
  <div class="card"
       style="
              height: available;
              margin-right: 50px;
              margin-left: 50px;
              margin-top: 20px;border-radius: 0px; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);">
    <div class="container-fluid">
      <div class="row" >
        <div class="col-1" style="padding: 10px">
          <img src="../../../../assets/image_resources/ic_employees_search.svg" style="margin-left:10px; width: 100px; height: 100px" >
        </div>
        <div class="col-5 align-self-center" style="margin-left: 25px ; margin-right: 30px; border: 1px none green;">
          <div class="form-group" style="width: inherit; border: 1px none goldenrod; margin-top: 10px">
            <div style="min-width: inherit; border: 1px none darkblue;" >

              <input type="text" [(ngModel)]="search"  class="searchBar" spellcheck="false" placeholder="Search" (change)="searchEmployee()">
              <button class="searchButton" > <img src="../../../../assets/image_resources/ic_search.png"></button>
            </div>
          </div>
        </div>
        <div class="col" >
          <div class="row" style="border: 1px none black; height: 50px;margin-bottom: 13px;margin-top: 10px">
            <div class="form-group" style="width: 100%; height: inherit">
              <small  class="form-text text-muted">Select Filter</small>
              <select [(ngModel)]="gender" class="form-control" id="exampleFormControlSelect1" style="" (change)="searchEmployee()">
                <option *ngFor="let gend of genderArra" [value]="gend">{{gend}}</option>
              </select>

            </div>
          </div>
          <div class="row" style=" border: 1px none black">
            <div class="form-group" style="width: 100%">
              <small  class="form-text text-muted">Filter Options</small>
              <select class="form-control" style="" >
                <option ></option>
              </select>
            </div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="row justify-content-center" style="margin-bottom: 5px"><a [href]="employeePage" download="file.txt" ><button class="blueButton">Download Employee List</button> </a>  </div>
          <div class="row justify-content-center" style="margin-top: 10px"> <button class="whiteButton" [routerLink]="['/employees/create']"  >Register Employee</button></div>
        </div>
      </div>
    </div>

  </div>

  <!---End of top bar--->

  <!---Start of table--->

  <div class="card"
       style="
              margin-right: 50px;
              margin-left: 50px;
              margin-top: 20px;
              margin-bottom: 50px;
              border-radius: 0px; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);">

    <div class="card-title" style="height: 15px; ">
      <div class="row" style="margin: 10px; margin-top: 15px;">
        <div class="col"> <h5 style="color: #333333; font-family: Montserrat; font-size: 20px">Showing all the employee list below</h5> </div>
        <div class="col text-right"> <h5 style="color: #333333; font-family: Montserrat; font-size: 20px; margin-right: 50px">Total Employee {{employeePage.totalElements}}</h5> </div>
      </div>
    </div>

    <!-- Card content -->
    <div class="card-body">

      <div class="container-fluid">
        <table class="table" style=" table-layout: fixed;word-wrap: break-word; font-family: Montserrat; font-size: 15pt">
          <thead style="background-color: #ECEFF4; ">
          <tr>
            <th scope="col" style="text-align: center; width:32px; "></th>
            <th scope="col" style="text-align: center; "> <b>Name</b> </th>
            <th scope="col" style="text-align: center"> <b>ID</b> </th>
            <th scope="col" style="text-align: center"> <b>Phone</b> </th>
            <th scope="col" style="text-align: center"> <b>Unit</b> </th>
            <th scope="col" style="text-align: center; "> <b>Department</b> </th>
            <th scope="col" style="text-align: center"> <b>Job Title</b> </th>
            <th scope="col" style="text-align: center;"> <b>Last Measured</b> </th>
            <th scope="col" style="text-align: center;"></th>
          </tr>
          </thead>

          <tbody   >
          <tr *ngFor="let employee of employeePage.content">
            <td scope="row" style="text-align: center;">
              <div *ngIf="employee.gender === 'm'; else templateName">
                <img src="../../../../assets/image_resources/ic_male.png" style="" alt="Responsive image">
              </div>
              <ng-template #templateName>
                <img src="../../../../assets/image_resources/ic_female.png" style="" alt="Responsive image">
              </ng-template>
            </td>
            <td class="col-sm-2" style=" text-align: center; "> {{employee.firstName + ' '}}  {{employee.lastName}} </td>
            <td style="text-align: center"> {{employee.companyEmployeeId}} </td>
            <td style="text-align: center"> {{employee.phoneNumber}} </td>
            <td style="text-align: center">  </td>
            <td style="text-align: center"> </td>
            <td style="text-align: center"> {{employee.id}} </td>
            <td style="text-align: center"> {{employee.updated_at| date }} </td>
            <td style="text-align: center"> <button class="viewButton" [routerLink]="['/employees/create',employee.id]"> View </button>
              <button class="prescriptionButton"  [routerLink]="['/employees/prescription',employee.id]"> Prescriptions </button>
            </td>
          </tr>
          </tbody>

        </table>
      </div>

      <mat-paginator [length]="employeePage.totalPages"
                     [pageSize]="employeePage.size"
                     [pageIndex]="employeePage.number"
                     (page)="onPaginateChange($event)">

      </mat-paginator>

    </div>

  </div>


  <!---End of table----->

</div>
