<div class="container-fluid" style="margin: 10px; font-family: Montserrat">

  <app-top-overview></app-top-overview>

  <div class="row" style="font-family: Montserrat">

    <div class="col-6" style="padding-right: 0px;width: 100%;height: 100%">
      <app-bottom-left-chart></app-bottom-left-chart>
    </div>

    <div class="col-6" style="width: 100%;height: 100%">
      <app-bottom-right-chart-member></app-bottom-right-chart-member>

      <div style="width: border-box">
        <app-bottom-right-chart-blood-group></app-bottom-right-chart-blood-group>
      </div>

    </div>

    <router-outlet></router-outlet>
  </div>

</div>

