<div class="container-fluid" style="margin-bottom: 10px;margin-right: 50px;margin-left: 50px">

  <app-top-overview></app-top-overview>
  <div class="row" style="margin-top: 10px;">
    <div class="col-6" style="padding-right: 0px">
      <app-bottom-left-chart></app-bottom-left-chart>
    </div>

    <div class="col-6">
      <app-bottom-right-chart-member></app-bottom-right-chart-member>
      <app-bottom-right-chart-blood-group></app-bottom-right-chart-blood-group>
    </div>



    <router-outlet></router-outlet>
  </div>
</div>

